body {
    margin: 0;
    background-image: url("img/107592.jpg");
    overflow: hidden;
    font-family: "Cinzel", serif;
}

#main {
    display: grid;
    grid-template-rows: 17vh 73vh;
    grid-template-areas:
    "header"
    "contentBox";
    place-items: stretch;
}

#header {
    display: grid;
    grid-area: header;
    grid-template-rows: 10vh 6.5vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    ". title ."
    ". navbar .";
    place-items: center;
    background-color: black;
    color: white;
    border-bottom: solid;
    border-color: rgb(255, 187, 0);
}

#title {
    display: grid;
    grid-area: title;
    font-size: 4em;
}

#title:hover {
    cursor: pointer;
}

#navBar {
    display: grid;
    grid-area: navbar;
    grid-template-columns:  1fr 1fr 1fr ;
    grid-template-rows: 6.5vh;
    grid-template-areas: "navHome navMenu navContact";
    place-items: center;
    background-color: black;
    color: white;
    border-top: solid 1px;
    border-color: rgb(255, 187, 0);
}

#navHome {
    display: grid;
    grid-area: navHome;
}

#navMenu {
    display: grid;
    grid-area: navMenu;
}

#navContact {
    display: grid;
    grid-area: navContact;
}

.navButton {
    width: 100%;
    height: 100%;
    place-content: center;
    margin-left: 2em;
    margin-right: 2em;
    transition: 0.7s;
}

.navButton:hover {
    cursor: pointer;
    background-color: rgb(61, 60, 60);
    color: white;
}

#content {
    display: grid;
    grid-area: contentBox;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    flex-grow: 1;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background-color: black;
    color: white;
    border-top: solid;
    border-color: rgb(255, 187, 0);
}

#footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    ". gitHubLink ."
    ". builtBy .";
    justify-items: center;
    font-size: 0.9em;
}

#builtBy {
    display: grid;
    grid-area: builtBy;
}

#gitHubLink {
    display: grid;
    grid-area: gitHubLink;
    align-self: end;
    border-radius: 16px;
}

#gitHubLink:hover {
    background-color: rgba(138, 138, 138, 0.534);
}

/* CONTENT */

.tile {
    opacity: 0.8;
}

#homeInfoBox {
    display: grid;
    grid-column: 3 / span 3;
    grid-row: 2 / 5;
    grid-template-columns: 1fr 40vw 1fr;
    grid-template-rows: 10vh 10vh 1fr;
    grid-template-areas:
    ". homeHeading ."
    ". homeTextOne ."
    ". homeTextTwo .";
    background-color: black;
    color: white;
}

#homeHeading {
    display: grid;
    grid-area: homeHeading;
    font-size: 2em;
    text-align: center;
}

#homeTextOne {
    display: grid;
    grid-area: homeTextOne;
}

#homeTextTwo {
    display: grid;
    grid-area: homeTextTwo;
}

/* CONTENT END */