body {
    margin: 0;
    background-image: url("img/107592.jpg");
    overflow: hidden;
    font-family: "Cinzel", serif;
}

#main {
    display: grid;
    grid-template-rows: 17vh 1fr;
    grid-template-areas:
    "header"
    "contentBox";
}

#header {
    display: grid;
    grid-area: header;
    grid-template-rows: 10vh 7vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    ". title ."
    ". navbar .";
    place-items: center;
    background-color: black;
    color: white;
    opacity: 0.9;
}

#title {
    display: grid;
    grid-area: title;
    font-size: 4em;
}

#title:hover {
    cursor: pointer;
}

#navBar {
    display: grid;
    grid-area: navbar;
    grid-template-columns: 1fr 5vw 5vw 5vw 1fr;
    grid-template-areas: ". navHome navMenu navContact .";
    place-items: center;
    background-color: black;
    color: white;
    font-weight: bold;
}

#navHome {
    display: grid;
    grid-area: navHome;
}

#navMenu {
    display: grid;
    grid-area: navMenu;
}

#navContact {
    display: grid;
    grid-area: navContact;
}

.navButton:hover {
    cursor: pointer;
}

#content {
    display: grid;
    grid-area: contentBox;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 50vh 1fr;
    grid-template-areas: 
    ". . ."
    ". infoBox ."
    ". . ."
    ;
    flex-grow: 1;
}

#homeContainer {
    display: grid;
    grid-area: infoBox;
    background-color: black;
    color: white;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background-color: black;
    color: white;
    opacity: 0.9;
}

#footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    ". gitHubLink ."
    ". builtBy .";
    justify-items: center;
    font-size: 0.9em;
}

#builtBy {
    display: grid;
    grid-area: builtBy;
}

#gitHubLink {
    display: grid;
    grid-area: gitHubLink;
    align-self: end;
    border-radius: 16px;
}

#gitHubLink:hover {
    background-color: rgba(138, 138, 138, 0.534);
}