body {
    margin: 0;
    background-image: url("img/107592.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    font-family: "Cinzel", serif;
}

#main {
    display: grid;
    grid-template-rows: 17vh 73vh;
    grid-template-areas:
    "header"
    "contentBox";
    place-items: stretch;
}

#header {
    display: grid;
    grid-area: header;
    grid-template-rows: 10vh 6.5vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    ". title ."
    ". navbar .";
    place-items: center;
    background-color: black;
    color: white;
    border-bottom: solid;
    border-color: rgb(255, 187, 0);
}

#title {
    display: grid;
    grid-area: title;
    font-size: 4em;
}

#title:hover {
    cursor: pointer;
}

#navBar {
    display: grid;
    grid-area: navbar;
    grid-template-columns:  1fr 1fr 1fr ;
    grid-template-rows: 6.5vh;
    grid-template-areas: "navHome navMenu navContact";
    place-items: center;
    background-color: black;
    color: white;
    border-top: solid 1px;
    border-color: rgb(255, 187, 0);
}

#navHome {
    display: grid;
    grid-area: navHome;
}

#navMenu {
    display: grid;
    grid-area: navMenu;
}

#navContact {
    display: grid;
    grid-area: navContact;
}

.navButton {
    width: 100%;
    height: 100%;
    place-content: center;
    margin-left: 2em;
    margin-right: 2em;
    transition: 0.7s;
}

.navButton:hover {
    cursor: pointer;
    background-color: rgb(61, 60, 60);
    color: white;
}

.navButtonChecked {
    background-color: rgb(61, 60, 60);
}

#content {
    display: grid;
    grid-area: contentBox;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(10, 1fr);
    flex-grow: 1;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background-color: black;
    color: white;
    border-top: solid;
    border-color: rgb(255, 187, 0);
}

#footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3vh 4vh 3vh;
    grid-template-areas:
    ". . ."
    ". builtBy ."
    ". . .";
    justify-items: center;
    align-items: center;
    font-size: 0.9em;
}

#builtBy {
    display: grid;
    grid-area: builtBy;
}

#gitHubLink {
    display: grid;
    grid-area: gitHubLink;
    align-self: end;
    border-radius: 16px;
    transition: 0.5s;
}

#gitHubLink:hover {
    background-color: rgba(138, 138, 138, 0.534);
}

/* CONTENT */
.tile {
    opacity: 0.9;
    background-color: black;
    color: white;
}
/*
.tile {
    animation: fadeIn ease-in 3s;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 0.4;}
}
*/

.subHeading {
    border-bottom: solid 1px;
    border-color: rgb(255, 187, 0);
    font-size: 2em;
}

/* HOME */
#homeInfoBox {
    display: grid;
    grid-column: 5 / span 6;
    grid-row: 3 / 9;
    grid-template-columns: 1fr 40vw 1fr;
    grid-template-rows: 10vh 10vh 1fr;
    grid-template-areas:
    ". homeHeading ."
    ". homeTextOne ."
    ". homeTextTwo .";
}

#homeHeading {
    display: grid;
    grid-area: homeHeading;
    align-self: center;
    justify-self: center;
}

#homeTextOne {
    display: grid;
    grid-area: homeTextOne;
}

#homeTextTwo {
    display: grid;
    grid-area: homeTextTwo;
}
/* HOME END */

/* MENU */
#menuContainer {
    display: grid;
    grid-column: 5 / span 6;
    grid-row: 2 / 10;
    grid-template-columns: 1fr 40vw 1fr;
    grid-template-rows: 10vh 1fr;
    grid-template-areas:
    ". menuHeading ."
    ". menuDiv .";
    overflow-y: scroll;
}

#menuHeading {
    display: grid;
    grid-area: menuHeading;
    align-self: center;
    justify-self: center;
}

#menuDiv {
    display: grid;
    grid-area: menuDiv;
    grid-template-columns: 1fr 30vw 10vw 1fr;
    grid-template-rows: repeat(8, 10vh);
}
/* MENU END */

/* CONTACT */
#contactContainer {
    display: grid;
    grid-column: 3 / span 5;
    grid-row: 3 / 9;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 1fr;
    grid-template-areas: 
    "contactHeading"
    "contactContent";
}

#contactHeading {
    display: grid;
    grid-area: contactHeading;
    align-self: center;
    justify-self: center;
}

#contactContent {
    display: grid;
    grid-area: contactContent;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 
    "contactInfoBox";
}

#contactInfoBox {
    display: grid;
    grid-area: contactInfoBox;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 16%);
    grid-template-areas:
    "."
    "street"
    "city"
    "email"
    "."
    ".";
}

#contactStreet {
    grid-area: street;
}

#contactCity {
    grid-area: city;
}

#contactEmail {
    grid-area: email;
}

.contactDetail {
    align-items: center;
    justify-self: center;
    font-size: 1.5em;
}

#googleMaps {
    display: grid;
    grid-column: 9 / span 3;
    grid-row: 3 / 9;
    align-self: center;
    justify-self: center;
    max-width: 100%;
    max-height: 100%;
}
/* CONTACT END */
/* CONTENT END */